<div class="main games-index">
  <div class="container">
    <h1 class="index-heading">選手一覧</h1>
    <% @players.each do |player| %>
      <div class="index-item">
        <div class="item-left">
          <span><%= player.name %></span>
        </div>
        <div class="item-right">
          <%= link_to "詳細", player, {class: "game-details"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
