<% provide(:botton_text, "保存") %>
<div class="main users-new">
  <div class="container">
    <div class="form-heading">ユーザー情報編集</div>
    <div class="form users-form">
      <%= render "form" %>
    </div>
  </div>
</div>
