<div class="main">
  <div class="container">
    <h1 class="games-show-heading">
      <%= "名古屋グランパス"+" "+@game.score_my.to_s+" vs "+
                          @game.score_opponent.to_s+" "+@game.opponent_name %>
    </h1>
    <% @grampus_players.each do |grampus_player| %>
      <div class="games-index-item">
        <div class="game-left">
          <% if logged_in? %>
            <%= render partial: 'review', locals: {grampus_player: grampus_player} %>
          <% else %>
            <span class="item"><%= grampus_player.name %></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- 11行目:grampus_playerはローカル変数であるためrender先では使用できない。
そこで、localsにローカル変数を渡してrender先で使用できるようにしている。 -->
