<div class="main">
  <div class="container">
    <h1 class="games-show-heading">
      <%= "名古屋グランパス"+" "+@game.score_my.to_s+" vs "+
                          @game.score_opponent.to_s+" "+@game.opponent_name %>
    </h1>
    <% @grampus_players.each do |grampus_player| %>
      <div class="games-index-item">
        <div class="game-left">
          <%= form_with(model: @user, local: true) do |f| %>
            <span class="item"><%= grampus_player.name %></span>
            <%= f.select :name, [["1","1"],["2","2"],["3","3"]],
            include_blank: "未選択" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
